<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    {{ partial "head.html" . }}
</head>

<body style="--bg-img: url('{{ .Site.Params.backgroundImage | default "/images/default_bg.png" | absURL }}');">
    <div class="root">
        <div class="card">
            <header>
                {{ partial "header.html" . }}
            </header>
            <main>
                {{ block "main" . }}{{ end }}
            </main>
            <hr />
            <footer>
                {{ partial "footer.html" . }}
            </footer>
        </div>
    </div>
</body>

</html>