<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 网站图标 -->
    <link rel="icon" href="https://avatars.githubusercontent.com/u/62281844?v=4" />

    {{ partial "head.html" . }}
</head>

<body>
    <div class="root">
        <div class="card">
            <header>
                {{ partial "header.html" . }}
            </header>
            <main>
                {{ block "main" . }}{{ end }}
            </main>
            <hr />
            <footer>
                {{ partial "footer.html" . }}
            </footer>
        </div>
    </div>
</body>

</html>