<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 引入 Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">

<!-- <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title> -->
 <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

<!-- 使 Favicon 可在配置文件中修改 -->
{{ if .Site.Params.favicon }}
    <link rel="icon" href="{{ .Site.Params.favicon | absURL }}" />
{{ else }}
    <link rel="icon" href="/favicon.ico" />
{{ end }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
